*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.section_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_title h3 {
    font-size: 32px;
    font-weight: 100;
    margin: 25px 0 50px 0;
}
.section_title span {
    font-size: 32px;
    font-weight: 700;
}

.title_line {
    width: 100px;
    border: 1px solid white;
}



/* MENU */

.navbar {
    background: rgba(51, 51, 51, .75);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #fff !important;
    font-size: 12px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #bac964 !important;
    background-color: #fff !important;
    transition: all 0.25s ease-in 0s;
}

.navbar-default .navbar-toggle {
    border-style: none;
}

.icon-bar {
    background-color: #fff !important;
}


/* HOME */


.home {
    background: url(../Asset/image/bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 5px;
    text-shadow: 3px 3px 2px #000;
}
.home h2 {
    font-size: 48px;
    text-shadow: 3px 3px 2px #000;
}


/* PORTFOLIO */

.conteneur {
    background-color: #222222;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio {
    width: 100%;
    margin: 100px 0;
}

.portfolio_wrap {
    width: 100%;
}

.portfolio_wrap_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.portfolio_wrap_down {
    display: flex;
    justify-content: space-between;
}

.portfolio_card {
    background-color: #333;
    width: 33%;
    max-width: 550px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
    border-radius: 5px;
}
.card_img {
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ba_img {
    background: url(../Asset/image/base-apparel.jpg);
    background-size: 100% 100%;
}
.hd_img {
    background: url(../Asset/image/huddle.jpg);
    background-size: 100% 100%;
}
.pg_img {
    background: url(../Asset/image/ping.jpg);
    background-size: 100% 100%;
}
.social_img {
    background: url(../Asset/image/social-proof.jpg);
    background-size: 100% 100%;
}
.single_img {
    background: url(../Asset/image/single-price.jpg);
    background-size: 100% 100%;
}
.sw_img {
    background: url(../Asset/image/star-wars.png);
    background-size: 100% 100%;
}

.card_content {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    text-align: center;
}
.card_content h4 {
    font-size: 20px;
    color: #bac964;
    font-weight: 600;
    margin-bottom: 20px;
}

.fm-link {
    color: #bac964;
}
.fm-link:hover {
    text-decoration: none;
    color: #bac964;
}
.go_site_btn {
    background: #bac964;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    color: #222;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.go_site_btn:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: #fff;
    color: #bac964;
}


/* PARCOURS */

.parcours {
    width: 100%;
    margin-bottom: 100px;
}

.form-xp-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formations-cptences {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-xp-cp-title {
    font-size: 24px;
}
.martop {
    margin-top: 25px;
}

.form-xp-cp-card {
    background: #333;
    width: 90%;
    padding: 25px;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
}
.form-xp-cp-card_title {
    font-size: 18px;
    color: #bac964;
    font-weight: 700;
}
.form-xp-cp-card_org {
    color: #bac964;
}
.form-xp-cp-card_org span {
    font-size: 14px;
}
.form-xp-cp-card_date {
    font-weight: 100;
}
.form-xp-cp-card_content_title {
    font-size: 17px;
    font-weight: 700;
}
.form-xp-cp-card_content_text {
    font-weight: 100;
}

/* A PROPOS */

.apropos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.apropos-wrap {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.apropos-photo {
    width: 25%;
    height: 300px;
    background: url(../Asset/image/moi.jpg);
    background-size: cover;
    background-position: center;
}

.apropos-text {
    width: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
}

/* CONTACT */

.contact {
    width: 100%;
    margin-bottom: 100px;
}

.contact-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-link {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.25);
    padding-bottom: 25px;
}

.contact-link a {
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.contact-link img {
    margin-right: 5px;
}
.contact-link a:hover, img:hover {
    transition: 0.5s;
    color: #bac964;
}

.contact-cv {
    margin-top: 25px;
}

.contact-cv a {
    font-size: 24px;
    color: #bac964;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: #333;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p {
    margin: 0;
}

.arrow-up {
    background: #333;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -50px;
}

.arrow-up img {
    height: 30px;
}
.arrow-up img:hover {
    transition: 0.5s;
    height: 32.5px;
}

/* SMALL DESKTOP DESIGN */
@media only screen and (max-width: 1400px) and (min-width: 1030px) {
    .conteneur {
        padding: 0 75px;
    }
    .apropos-wrap {
        width: 100%;
    }
    .apropos-photo {
        width: 30%;
    }
    .apropos-text {
        width: 55%
    }
    .contact-link {
        width: 75%;
    }
  }
/* LARGE TAB DESIGN */
@media only screen and (max-width: 1030px) and (min-width: 770px) {
    .conteneur {
        padding: 0 75px;
    }
    .card_content {
        padding: 10px 20px;
    }
    .mtop {
        margin-top: 32px;
    }
    .apropos-wrap {
        width: 100%;
    }
    .apropos-photo {
        width: 30%;
    }
    .apropos-text {
        width: 55%
    }
    .contact-link {
        width: 80%;
    }
  }
/* SMALL TAB DESIGN */
@media only screen and (max-width: 770px) and (min-width: 550px) {
    .conteneur {
        padding: 0 50px;
    }
    .portfolio_wrap_top {
        margin-bottom: 25px;
    }
    .card_content {
        padding: 10px 20px;
    }
    .mtop {
        margin-top: 32px;
    }
    .apropos-wrap {
        width: 100%;
    }
    .apropos-photo {
        width: 30%;
    }
    .apropos-text {
        width: 55%
    }
    .form-xp-cp-card {
        padding: 15px;
    }
    .contact-link {
        width: 100%;
    }
  }
/* MOBILE DESIGN */
@media only screen and (max-width: 550px) {
    body {
        overflow-x: hidden;
    }
    .home h1 {
        font-size: 44px;
    }
    .home h2 {
        font-size: 30px;
    }
    .conteneur {
        padding: 0 15px;
    }
    .portfolio {
        margin: 50px 0;
    }
    .portfolio_wrap_top {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .portfolio_wrap_down {
        flex-direction: column;
    }
    .portfolio_card {
        width: 100%;
    }
    .mg-bt {
        margin-bottom: 25px;
    }
    .card_content {
        padding: 10px 15px;
    }
    .parcours {
        margin-bottom: 50px;
    }
    .form-xp-wrap {
        flex-direction: column;
    }
    .form-xp-cp-card {
        width: 100%;
        padding: 15px;
    }
    .formations-cptences {
        margin-bottom: 25px;
    }
    .apropos {
        margin-bottom: 50px;
    }
    .apropos-wrap {
        flex-direction: column;
        width: 100%;
    }
    .apropos-photo {
        width: 100%;
    }
    .apropos-text {
        width: 100%;
        margin-top: 25px;
    }
    .contact {
        margin-bottom: 75px;
    }
    .contact-link {
        width: 100%;
        height: 125px;
        flex-direction: column;
    }
}  
