*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}



/* MENU */

.navbar {
    background: rgba(51, 51, 51, .75);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar li a {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #bac964 !important;
    background-color: #fff !important;
    transition: all 0.25s ease-in 0s;
}

.navbar-default .navbar-toggle {
    border-style: none;
}

.icon-bar {
    background-color: #fff !important;
}


/* HOME */


.home {
    background: url(../Asset/image/bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 5px;
    text-shadow: 3px 3px 2px #000;
}
.home h2 {
    text-shadow: 3px 3px 2px #000;
}


/* PORTFOLIO */

main {
    background-color: #222222;
}

.wrap {
    padding: 0 25px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.portfolio h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}
.portfolio h2 span {
    font-weight: 100;
}

.line-title {
    height: 1px;
    width: 100px;
    background-color: #fff;
}

.card {
    width: 100%;
    height: 350px;
    background: #333333;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 25px;
}

.card_img {
    width: 100%;
    height: 65%;
    cursor: pointer;
}

._ba {
    background: url(../Asset/image/base-apparel.jpg);
    background-size: cover;
    background-position: center;
}
._hd {
    background: url(../Asset/image/huddle.jpg);
    background-size: cover;
    background-position: center;
}
._pg {
    background: url(../Asset/image/ping.jpg);
    background-size: cover;
    background-position: center;
}
._sp {
    background: url(../Asset/image/social-proof.jpg);
    background-size: cover;
    background-position: center;
}
._sglp {
    background: url(../Asset/image/single-price.jpg);
    background-size: cover;
    background-position: center;
}
._sw {
    background: url(../Asset/image/star-wars.png);
    background-size: cover;
    background-position: center;
}

.card_infos {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.card_title {
    font-size: 18px;
    color: #bac964;
    font-weight: 700;
}

.card_infos p:nth-child(2) {
    margin-bottom: 5px;
}

/* PARCOURS */

.parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.parcours h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}
.parcours h2 span {
    font-weight: 100;
}

.parcours h3 {
    margin-bottom: 25px;
}

.xp_card {
    background: #333333;
    width: 100%;
    max-height: 400px;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 15px 15px;
    font-size: 16px;
}

.xp_card_title {
    font-size: 18px;
    font-weight: 700;
    color: #bac964;
}

.xp_card_org {
    font-size: 16px;
    font-weight: bold;
    color: #bac964;
}
.xp_card_org span {
    font-size: 14px;
}
.xp_card_date {
    color: #bac964;
}

.xp_card_content_title {
    font-size: 17px;
    font-weight: 700;
}
.xp_card_content_text {
    font-weight: 100;
}

/* A PROPOS */

.apropos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.apropos h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}
.apropos h2 span {
    font-weight: 100;
}

.apropos_wrap {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.apropos_photo {
    height: 60%;
    width: 100%;
    background: url(../Asset/image/moi.jpg);
    background-size: cover;
    background-position: center;
}

.apropos_text {
    height: 30%;
    text-align: justify;
}

/* CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.contact h2 {
    margin-top: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}

.contact_wrap {
    height: 100px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.contact_wrap a {
    color: #fff;
    text-decoration: none;
}

.line-contact {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    margin-bottom: 25px;
}

.go_cv {
    font-size: 20px;
    text-transform: uppercase;
    color: #bac964;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: #333333;
    position: relative;
}

.arrow-up {
    position: absolute;
    right: 0;
    bottom: 75px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}