body, html {
    margin: 0;
    padding: 0;
    background: url('../Contents/background/bg-foot1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Anton', sans-serif;
}


/* PARTIE HEADER */

header {
    background-color: rgba(0, 0, 0, 0.05);
    height: 80px;
    border-bottom: solid 5px white;
}

header h1 {
    font-size: 35px;
    text-transform: uppercase;
    line-height: 75px;
    color: white;
    margin: auto 25px;
}

.title-star-group {
    display: flex;
    justify-content: center;
}

.star-white-title {
    height: 35px;
    margin-right: 3px;
    position: relative;
    top: 17.5px;
}

.image-nav-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 63px;
    right: 50px;
}

.image-nav-menu img {
    height: 50px;
    cursor: pointer;
}


/* MAIN PAGE */

/* .main-page {

} */

.wrap-player-info-and-choice {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 1270px;
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Play', sans-serif;
}

.contenu-infos {
    background-color: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 600px;
    border-radius: 3px;
}

.contenu-infos p {
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    color: #DDDDDD;

}

/* .wrap-player-choice {
    
} */

.roni {
    background: url("../Contents/00/Ronaldinho/roni1.jpg");
    background-size: cover;
    background-position: center;
    width: 620px;
    height: 185px;
    margin-bottom: 23px;
    border-radius: 3px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.roni p {
    text-align: center;
    vertical-align: middle;
    line-height: 185px;
    color: #ffffff;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.75);
}

.henry {
    background: url("../Contents/00/Henry/henry.jpg");
    background-size: cover;
    background-position: center;
    width: 620px;
    height: 185px;
    margin-bottom: 23px;
    border-radius: 3px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.henry p {
    text-align: center;
    vertical-align: middle;
    line-height: 185px;
    color: #ffffff;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.75);
}

.iniesta {
    background: url("../Contents/00/Iniesta/iniesta2.jpg");
    background-size: cover;
    background-position: center;
    width: 620px;
    height: 185px;
    border-radius: 3px;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.iniesta p {
    text-align: center;
    vertical-align: middle;
    line-height: 185px;
    color: #ffffff;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.75);
}

.wrap-choice-year {
    position: relative;
}

.choice-year {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    width: 180px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: #fff;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.arrow-left {
    position: absolute;
    left: 535px;
    top: 13px;
    height: 30px;
}

.arrow-right {
    position: absolute;
    right: 535px;
    top: 13px;
    height: 30px;
}

.wrap-home-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.home-button {
    height: 60px;
    width: 60px;
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.home-button img {
    height: 32.5px;
}