/* MEDIA QUERY - DESIGN MOBILE */

@media screen and (max-width: 450px)

{
    .wrap {
        overflow:hidden;
    }
    .me-contacter {
        /* display: none; */
    }
    /* .me-contacter:hover { 
        left: auto;
    } */

    /* HEADER */

    .entete {
        height: 100px;
    }
    .navmenu {
        /* position: relative; */
        left: 75px;
        top: 45px;
        margin: auto;
    }
    #menu {
        
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        font-size: 0.95em;
    }
    nav ul li {
        display: flex;
        justify-content: space-around;
    }
    #lien {
        position: relative;
        left: 120px;
        font-size: 1.5em;
    }


    /* WELCOME */
    #wlcome h2 {
        font-size: 4em;
    }
    #wlcome p {
        font-size: 1.5em;
    }

    /* PORTRAIT */

    #info {
        height: auto;
        padding-bottom: 50px;
    }
    #info p {
        font-size: 1.17em;
    }
    #info h2 {
        font-size: 4em;
    }
    #info h3 {
        font-size: 1.6em;
    }

    .wrap-info {
        height: 40vh;
        width: 100%;
        position: relative;
        left: 0;
        border-radius: 0;
        background-image: none;
    }
    .wrap-info:hover {
        box-shadow: none;
    }
    .wrap-info img {
        display: none;
    }

    .wrap-bio {
        height: 40vh;
        width: 100%;
        position: relative;
        left: 0;
        border-radius: 0;
        background-image: none;
    }
    .wrap-bio:hover {
        box-shadow: none;
    }
    .wrap-bio img {
        display: none;
    }

    /* PARCOURS ET COMPETENCES */
    .exp {
        padding-bottom: 45vh;
        height: 875px;
    }
    .exp h2 {
        font-size: 3em;
    }
    .exp h3 {
        font-size: 1.6em;
    }
    .exp p {
        font-size: 1.1em;
    }
    .xperience {
    height: 60vh;
    width: 100%;
    background-color: transparent;
    display: inline-block;
    position: relative;
    left: 0;
    border-radius: 0;
    padding-bottom: 7.5vh;
    }
    .xperience:hover {
        box-shadow: none;
    }
    .xperience img {
        display: none;
    }
    .cptence {
    height: 60vh;
    width: 100%;
    background-color: transparent;
    display: inline-block;
    position: relative;
    left: 0;
    border-radius: 0;
    /* text-align: center; */
    }
    .cptence:hover {
        box-shadow: none;
    }
    .cptence img {
        display: none;
    }




    /* FOOTER */

    footer {
        /* background-color: black;
        position: relative;
        bottom: 0;
        height: 10vh;
        line-height: 10vh;
        width: 100%; */
        /* display: none; */
    }
}