/* MEDIA QUERY - DESIGN MOBILE */

@media screen and (max-width: 450px)

{
    .wrap-site {
        overflow:hidden;
    }
    
    .me-contacter {
        opacity: 0.5;
    }

    #flchup {
        position: fixed;
        right: 1em;
        bottom: 85px;
    }
    

    /* HEADER */

    .entete {
        height: 100px;
    }
    .navmenu {
        left: 75px;
        top: 45px;
        margin: auto;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        font-size: 0.95em;
    }
    nav ul li {
        display: flex;
        justify-content: space-around;
    }
    #lien {
        position: relative;
        left: 120px;
        font-size: 1.5em;
    }


    /* WELCOME */

    #wlcome {
        height: 715px;
    }
    #wlcome h2 {
        font-size: 4em;
        padding-bottom: 25px;
    }
    .gras-flo-welcome {
        font-size: 1em;
    }
    .wrap-txt-accueil {
        height: 250px;
        margin-top: 50px;
    }
    .wrap-txt-accueil:hover {
        box-shadow: none;
    }

    /* PORTRAIT */

    #info {
        height: auto;
        padding-bottom: 50px;
    }
    #info p {
        font-size: 1.17em;
    }
    #info h2 {
        font-size: 4em;
    }
    #info h3 {
        font-size: 1.6em;
    }

    .wrap-info {
        height: 400px;
        width: 100%;
        position: relative;
        left: 0;
        border-radius: 0;
        background-image: none;
        box-shadow: none;
        padding-bottom: 50px;
    }
    .wrap-bio {
        height: 500px;
        width: 100%;
        position: relative;
        left: 0;
        border-radius: 0;
        background-image: none;
        box-shadow: none;
    }
    #info .aside-droit {
        text-align: inherit;
    }
    #info .aside-gauche {
        text-align: inherit;
    } 

    /* PARCOURS ET COMPETENCES */

    .exp {
        height: auto;
    }
    .exp h2 {
        font-size: 3em;
        padding-top: 90px;
    }
    .exp h3 {
        font-size: 1.6em;
    }
    .exp p {
        font-size: 1.1em;
    }
    .xperience {
        height: 625px;
        width: 100%;
        background-color: transparent;
        display: inline-block;
        position: relative;
        left: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .wrap-xperience {
        padding-left: 35px;
        padding-right: 35px;
        margin-right: 0;
        margin-left: 0;
    }
    .cptence {
        height: 600px;
        width: 100%;
        background-color: transparent;
        display: inline-block;
        position: relative;
        left: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .wrap-cptence {
        padding-left: 35px;
        padding-right: 35px;
        margin-right: 0;
        margin-left: 0;
    }

    /* PROJETS */

    .projets {
        min-height: 0;
    }

    /* .projets h2 {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    } */
    .wrap-taupe {
        height: 600px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .div-jeutaupe {
        text-align: initial;
        padding-left: 25px;
        padding-right: 25px;    
    }

    .projets img {
        height: 200px;
        width: 300px;
    }
}



