/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    font-family: 'Titillium Web', sans-serif;
    color: #3f3844;
    scroll-behavior: smooth;
}
body {
    position: relative;
}

.wrap-site {
    min-height: 100%;
    position: relative;
}

#flchup {
    position: fixed;
    right: 1em;
    bottom: 4em;
}

.me-contacter {
    height: 75px;
    width: 225px;
    background-color: #3f3844;
    position: fixed;
    top: 35vh;
    left: -155px;
    font-size: 0.88em;
    transition: 0.5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.me-contacter:hover { 
    left: 0;
}
.me-contacter p {
    display: inline;
    margin-top: 4px;
    margin-left: 7.5px;
    color: white;
    position: absolute;
    top: 25px;
}
.me-contacter a > p:hover {
    color: yellow;
}
#cntct {
    position: absolute;
    left: 155px;
    font-weight: bold;
}
/* HEADER */

.entete {
    height: 10vh;
    background-color: #3f3844;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#lien {
    position: relative;
    top: 2.5vh;
    left: 3.5vh;
}
.navmenu {
    position: absolute;
    height: 10vh;
    right: 10vh;
    top: 0;
}
nav ul {
    list-style-type : none;
}
nav ul li {
    display: inline;
    padding : 0 1em;
}
.entete a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.15em;
}
.entete a:hover {
    color: yellow;
}

/* WELCOME */

#wlcome h2 {
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 5.5em;
}
#wlcome {
    position: relative;
    height: 600px;
}
#wlcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.wrap-txt-accueil {
    height: 180px;
    width: 375px;
    border-radius: 3px;
    margin: 0 auto;
    transition: box-shadow .3s;
    text-align: center;
    font-size: 2.15em;
}
.wrap-txt-accueil:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.gras-flo-welcome {
    font-size: 1.45em;
}

/* PORTRAIT */

#info {
    height : 750px;
    width: 100%;
    background-color: white;
    position: relative;
}
.wrap-info {
    height: 500px;
    width: 400px;
    border-radius: 3px;
    position: relative;
    left: 150px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#info h2 {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 25px;
    margin-bottom: 0;
    font-size: 4.5em;
    position: relative;
}

.image-info {
    text-align: center;
    padding-top: 25px;
}
.div-aside-info-p {
    padding-left: 35px;
    padding-right: 35px;
}
.aside-gauche a {
    text-decoration: none;
    color: red;
}
#info h3 {
    padding-top: 25px;
    text-decoration: underline;
    position: relative;
    text-align: center;
}
.form-gras {
    font-weight: bold; /* Met en gras la partie gauche du formulaire */
}
.wrap-bio {
    height: 500px;
    width: 400px;
    border-radius: 3px;
    position: absolute;
    right: 150px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.image-bio {
    text-align: center;
    padding-top: 25px
}
.div-aside-bio-p {
    padding-left: 35px;
    padding-right: 35px;
}

/* PARCOURS ET COMPETENCES */

.exp {
    height: 800px;
    width: 100%;
}

.exp h2 {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 25px;
    margin-bottom: 15px;
    font-size: 4.5em;
    position: relative;
}

.exp h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.35em;
}

.xperience img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.exp p {
    font-size: 0.925em;
    padding-top: 0;
    margin-top: 0;
}

#paddinghaut {
    padding-top: 20px;
}

/* Bordure sous "Gardien d'immeuble" */
#bordurebas {
    border-bottom: #3f3844 solid 1px;
    padding-bottom: 20px;
}

.xperience {
    height: 500px;
    width: 400px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 150px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.wrap-xperience {
    padding-left: 35px;
    padding-right: 35px;
}

.cptence {
    height: 500px;
    width: 400px;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 150px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cptence img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.wrap-cptence {
    padding-left: 35px;
    padding-right: 35px
}

.logoinformatique {
    display: flex;
    height: 125px;;
}
.logoinformatique img {
    height: 70px;
    width: 70px;
}

/* PROJETS */

.projets {
    height: 820px;
    background-color: white;
    padding-bottom: 50px;
}

.projets h2 {
    text-align: center;
    padding-top: 75px;
    /* padding-bottom: 25px; */
    margin-bottom: 15px;
    font-size: 4.5em;
    position: relative;
}
.projets h3 {
    font-size: 2em;
}
.projets img {
    height: 300px;
    width: 750px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25)
}
.projets a {
    text-decoration: none;
    color: red;
}
.wrap-taupe {
    text-align: center;
}
.div-jeutaupe {
    padding-left: 269px;
    padding-right: 269px;
    text-align: left;
}
/* FOOTER */

footer {
    background-color: black;
    position: relative;
    bottom: 0;
    height: 10vh;
    line-height: 10vh;
    width: 100%;
}
footer p {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}