body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    color: #333;
    font-family: 'Hind', sans-serif;
}

.header-portfolio {
    height: 15%;
    border-bottom: 2px solid #e1b200;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.logo-portfolio {
    border: 2px solid #e1b200;
    border-radius: 50%;
    background: #e1b200;
    padding: 0.5%;
    font-size: 3em;
    color: #222930;
    display: inline-block;
    margin-top: 1%;
}

.header-portfolio h3 {
    display: inline-block;
    padding-left: 0.75%;
    font-size: 2.25em;
}

.header-portfolio a {
    text-decoration: none;
    color: #333;
}

.header-portfolio a:hover {
    transition: color .67s;
    color: #e1b200;
}

main {
    height: 100%;
    display: flex;
}

.menu-portfolio {
    width: 20%;
    height: 87%;
    border-right: 2px solid #e1b200;
}

.menu-portfolio ul {
    list-style: none;
    margin-top: 20%;
    font-size: 1.3em;
}

.menu-portfolio ul li {
    margin-bottom: 20%;
}

.menu-portfolio a {
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #e1b200;
}

.menu-portfolio a:hover {
    transition: color .67s;
    color: #e1b200;
}

.copyright-portfolio {
    background: black;
    color: white;
    height: 10%;
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 0.7em;
}

.contenu-portfolio {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: justify;
}

.wrap-contenu {
    height: 85%;
    width: 80%;
    overflow: auto;
    position: absolute;
    right: 0px;
    scroll-behavior: smooth;
}

.wrap-contenu h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 5%;
}

.wrap-contenu p {
    font-size: 1em;
    display: inline;
}

.wrap-formation {
    display: block;
    margin-bottom: 10%;
}

.div-txt {
    margin-bottom: 7.5%;
}

.logoformation {
    width: 100px;
    margin-right: 2%;
}

.skill-tag-list {
    display: flex;
    flex-wrap: wrap;
    font-size: .85em;
    margin-top: 1.5%;
}

.skill-tag {
    padding: .25em .75em;
    border-radius: 1em;
    margin-right: .5em;
    margin-bottom: .5em;
    background: beige;
}

.icon-skill {
    height: 75px;
    width: 75px;
    margin-right: 1.5em;
}

.icon-skill:hover {
    height: 85px;
    width: 85px;
    transition: .7s;
}

.icon-skill-list {
    list-style-type: none;
    display: flex;
}

.arrow-up {
    height: 60px;
    width: 55px;
    position: absolute;
    right: 0px;
}


